    <footer>
   <p mt-3 text-xs>
    <span pr-1 op-30>本网页由</span>
    <a b-slate-link href="https://github.com/hi-jaylen/CahtGPT-Diu/" target="_blank">
      <b op-50>jaylen</b>
</a>
          <span pr-1 op-30>修改自</span>
              <a b-slate-link href="https://github.com/ddiu8081/chatgpt-demo" target="_blank">
      <b op-50>Diu</b>
    </a>
    <span px-1>|</span>
    <a b-slate-link href="https://baike.baidu.com/item/ChatGPT/62446358" target="_blank">
      <b op-50>了解ChatGPT</b>
      Source Code
    </a>
  </p>
</footer>
